conf/todoist-calendar-sync.conf.yaml
*.state.yaml
logs
conf/user
conf/StoredCredential
conf/client_secret.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
